
<div class="p-grid p-dir-col p-align-center">
  <h1>Seleção Java</h1>
  <div class="p-col"><p-button label="Combustível CRUD" (onClick)="combustivelCRUD()" ></p-button></div>
  <div class="p-col"><p-button label="Usuário CRUD" (onClick)="usuarioCRUD()" ></p-button></div>
  <div class="p-col"><p-button label="Operações com Combustível" (onClick)="operacoesComCombustivel()" ></p-button></div>
</div>
