
<div class="p-grid p-dir-col p-align-center">
  <h1>Operações com Combustível</h1>
  <div class="p-grid p-dir-col p-align-left">
    <p><label>Média de preço de combustível com base no nome do município: </label>
      <input type="text" placeholder="Município" (keyup)="setMunicipioMedia($event)" /></p>
      <div *ngIf="mediaCombustivelMunicipio" >
        <p>Média igual à: {{ mediaCombustivelMunicipio | number }} R$</p>
      </div>
      <p><p-button icon="pi pi-search" label="Calcular" (onClick)="calcularMediaCombustivelMunicipio()"></p-button></p>
  </div>
  <div class="p-grid p-dir-col p-align-left">
    <p><label>Valor médio do valor da compra e do valor da venda por município: </label>
      <input type="text" placeholder="Município" (keyup)="setMunicipioCompraVenda($event)" /></p>
      <div *ngIf="mediaCombustivelMunicipioCompraVenda" >
        <p>Média valor da venda: {{ mediaCombustivelMunicipioCompraVenda.valorVenda | number }} R$</p>
        <p>Média valor da compra: {{ mediaCombustivelMunicipioCompraVenda.valorCompra | number }} R$</p>
      </div>
      <p><p-button icon="pi pi-search" label="Calcular" (onClick)="calcularMediaCombustivelCompraVendaMunicipio()"></p-button></p>
  </div>
  <div class="p-grid p-dir-col p-align-left">
    <p><label>Valor médio do valor da compra e do valor da venda por bandeira: </label>
      <input type="text" placeholder="Bandeira" (keyup)="setBandeiraCompraVenda($event)" /></p>
      <div *ngIf="mediaCombustivelBandeiraCompraVenda" >
        <p>Média valor da venda: {{ mediaCombustivelBandeiraCompraVenda.valorVenda | number }} R$</p>
        <p>Média valor da compra: {{ mediaCombustivelBandeiraCompraVenda.valorCompra | number }} R$</p>
      </div>
      <p><p-button icon="pi pi-search" label="Calcular" (onClick)="calcularMediaCombustivelCompraVendaBandeira()"></p-button></p>
  </div>
</div>

<h2>Filtrar Combustíveis</h2>

<div class="p-grid">
  <div class="p-col"><input type="text" placeholder="Região" (keyup)="setRegiao($event)" />
    <p-button icon="pi pi-search" label="Buscar" (onClick)="buscarCombustiveisPorRegiao()"></p-button></div>
  <div class="p-col"><input type="text" placeholder="Distribuidora" (keyup)="setDistribuidora($event)" />
    <p-button icon="pi pi-search" label="Buscar" (onClick)="buscarCombustiveisPorDistribuidora()"></p-button></div>
  <div class="p-col"><div class="p-col"><input type="text" placeholder="Data da Coleta" (keyup)="setDataColeta($event)" />
    <p-button icon="pi pi-search" label="Buscar" (onClick)="buscarCombustiveisPorDataColeta()"></p-button></div>
</div>

<p-table [value]="combustiveis" [paginator]="true" [rows]="10"
[style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand"
[responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Região</th>
      <th>Sigla do Estado</th>
      <th>Município</th>
      <th>Revendedora</th>
      <th>Código</th>
      <th>Produto</th>
      <th>Data da Coleta</th>
      <th>Valor de Compra</th>
      <th>Valor de Venda</th>
      <th>Unidade de Medida</th>
      <th>Bandeira</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-combustivel let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ combustivel.regiao }}</td>
      <td>{{ combustivel.siglaEstado }}</td>
      <td>{{ combustivel.municipio }}</td>
      <td>{{ combustivel.revenda }}</td>
      <td>{{ combustivel.codigo }}</td>
      <td>{{ combustivel.produto }}</td>
      <td>{{ combustivel.dataColeta }}</td>
      <td>{{ combustivel.valorCompra }}</td>
      <td>{{ combustivel.valorVenda }}</td>
      <td>{{ combustivel.unidadeDeMedida }}</td>
      <td>{{ combustivel.bandeira }}</td>
    </tr>
  </ng-template>
</p-table>

<p-button icon="pi pi-home" label="Pagina inicial" (onClick)="home()"></p-button>
