
<div class="p-grid p-dir-col p-align-start">
  <div class="p-col"><p-button icon="pi pi-home" label="Pagina inicial" (onClick)="home()"></p-button></div>
  <div class="p-col"><p-button icon="pi pi-plus" label="Adicionar Combustível" (onClick)="addCombustivel()"></p-button></div>
</div>

<h1>Combustíveis</h1>

<p-table [value]="combustiveis" [paginator]="true" [rows]="10"
[style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand"
[responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Região</th>
      <th>Sigla do Estado</th>
      <th>Município</th>
      <th>Revendedora</th>
      <th>Código</th>
      <th>Produto</th>
      <th>Data da Coleta</th>
      <th>Valor de Compra</th>
      <th>Valor de Venda</th>
      <th>Unidade de Medida</th>
      <th>Bandeira</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-combustivel let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ combustivel.regiao }}</td>
      <td>{{ combustivel.siglaEstado }}</td>
      <td>{{ combustivel.municipio }}</td>
      <td>{{ combustivel.revenda }}</td>
      <td>{{ combustivel.codigo }}</td>
      <td>{{ combustivel.produto }}</td>
      <td>{{ combustivel.dataColeta }}</td>
      <td>{{ combustivel.valorCompra }}</td>
      <td>{{ combustivel.valorVenda }}</td>
      <td>{{ combustivel.unidadeDeMedida }}</td>
      <td>{{ combustivel.bandeira }}</td>
      <td><p-button label="Ver" icon="pi pi-eye" styleClass="ui-button-success" (onClick)="verCombustivel(combustivel.id)"></p-button></td>
      <td><p-button label="Editar" icon="pi pi-pencil" styleClass="ui-button-warning" (onClick)="editarCombustivel(combustivel.id)"></p-button></td>
      <td><p-button label="Remover" icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteCombustivel(combustivel.id)"></p-button></td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog key="confirmDialogDeleteCombustivel" #confirmDialogDeleteCombustivel header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <p-button styleClass="ui-button-success" icon="pi pi-times" label="No" (onClick)="confirmDialogDeleteCombustivel.reject()"></p-button>
    <p-button styleClass="ui-button-danger" icon="pi pi-check" label="Yes" (onClick)="confirmDialogDeleteCombustivel.accept()"></p-button>
  </p-footer>
</p-confirmDialog>
