
<div class="p-grid p-dir-col p-align-center">
  <h1>Combustível</h1>
  <div class="p-grid p-dir-col p-align-left">
    <div class="p-col"><b>Região: </b>{{ combustivel?.regiao }}</div>
    <div class="p-col"><b>Sigla do Estado: </b>{{ combustivel?.siglaEstado }}</div>
    <div class="p-col"><b>Município: </b>{{ combustivel?.municipio }}</div>
    <div class="p-col"><b>Revendedora: </b>{{ combustivel?.revenda }}</div>
    <div class="p-col"><b>Código: </b>{{ combustivel?.codigo }}</div>
    <div class="p-col"><b>Produto: </b>{{ combustivel?.produto }}</div>
    <div class="p-col"><b>Data da Coleta: </b>{{ combustivel?.dataColeta }}</div>
    <div class="p-col"><b>Valor da Compra: </b>{{ combustivel?.valorCompra }}</div>
    <div class="p-col"><b>Valor de Venda: </b>{{ combustivel?.valorVenda }}</div>
    <div class="p-col"><b>Unidade de Medida: </b>{{ combustivel?.unidadeDeMedida }}</div>
    <div class="p-col"><b>Bandeira: </b>{{ combustivel?.bandeira }}</div>
  </div>
  <div class="p-grid">
    <p-button icon="pi pi-arrow-left" label="Voltar" (onClick)="listCombustivel()"></p-button>
    <p-button icon="pi pi-plus" label="Adicionar Combustível" (onClick)="addCombustivel()"></p-button>
    <p-button styleClass="ui-button-warning" icon="pi pi-plus" label="Editar Combustível" (onClick)="editarCombustivel(combustivel.id)"></p-button>
    <p-button icon="pi pi-home" label="Pagina inicial" (onClick)="home()"></p-button>
  </div>
</div>
