
<div class="p-grid p-dir-col p-align-center">
  <h1>Usuário</h1>
  <div class="p-grid p-dir-col p-align-left">
    <div class="p-col"><b>Nome: </b>{{ usuario?.nome }}</div>
    <div class="p-col"><b>Username: </b>{{ usuario?.username }}</div>
    <div class="p-col"><b>E-Mail: </b>{{ usuario?.email }}</div>
    <div class="p-col"><b>Número de Telefone: </b>{{ usuario?.numeroDeTelefone }}</div>
  </div>
  <div class="p-grid">
    <p-button icon="pi pi-arrow-left" label="Voltar" (onClick)="listUsuario()"></p-button>
    <p-button icon="pi pi-plus" label="Adicionar Usuário" (onClick)="addUsuario()"></p-button>
    <p-button styleClass="ui-button-warning" icon="pi pi-plus" label="Editar Usuário" (onClick)="editarUsuario(usuario.id)"></p-button>
    <p-button icon="pi pi-home" label="Pagina inicial" (onClick)="home()"></p-button>
  </div>
</div>
