
<div class="p-grid p-dir-col p-align-center">
  <h1>Combustível</h1>
  <div class="p-grid p-dir-col p-align-left">
    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <p><label>Região: </label><input type="text" [value]="combustivel?.regiao" formControlName="regiao"/></p>
      <p><label>Sigla do Estado: </label><input type="text" [value]="combustivel?.siglaEstado" formControlName="siglaEstado"/></p>
      <p><label>Município: </label><input type="text" [value]="combustivel?.municipio" formControlName="municipio"/></p>
      <p><label>Revendedora: </label><input type="text" [value]="combustivel?.revenda" formControlName="revenda"/></p>
      <p><label>Código: </label><input type="number" [value]="combustivel?.codigo" formControlName="codigo"/></p>
      <p><label>Produto: </label><input type="text" [value]="combustivel?.produto" formControlName="produto"/></p>
      <p><label>Data da Coleta: </label><input type="text" [value]="combustivel?.dataColeta" formControlName="dataColeta"/></p>
      <p><label>Valor da Compra: </label><input type="number" [value]="combustivel?.valorCompra" formControlName="valorCompra"/></p>
      <p><label>Valor de Venda: </label><input type="number" [value]="combustivel?.valorVenda" formControlName="valorVenda"/></p>
      <p><label>Unidade de Medida: </label><input type="text" [value]="combustivel?.unidadeDeMedida" formControlName="unidadeDeMedida"/></p>
      <p><label>Bandeira: </label><input type="text" [value]="combustivel?.bandeira" formControlName="bandeira"/></p>
      <p><button pButton icon="pi pi-save" type="submit" class="ui-button-success" label="Salvar"></button></p>
    </form>
    <div class="p-grid">
      <p-button icon="pi pi-arrow-left" label="Voltar" (onClick)="listCombustivel()"></p-button>
      <p-button icon="pi pi-home" label="Pagina inicial" (onClick)="home()"></p-button>
    </div>
  </div>
</div>
