
<div class="p-grid p-dir-col p-align-start">
  <div class="p-col"><p-button icon="pi pi-home" label="Pagina inicial" (onClick)="home()"></p-button></div>
  <div class="p-col"><p-button icon="pi pi-plus" label="Adicionar Usuário" (onClick)="addUsuario()"></p-button></div>
</div>

<h1>Usuários</h1>

<p-table [value]="usuarios" [paginator]="true" [rows]="10"
[style]="{'overflow':'auto!important'}" [resizableColumns]="true" columnResizeMode="expand"
[responsive]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Username</th>
      <th>E-Mail</th>
      <th>Número de telefone</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.numeroDeTelefone }}</td>
      <td><p-button label="Ver" icon="pi pi-eye" styleClass="ui-button-success" (onClick)="verUsuario(usuario.id)"></p-button></td>
      <td><p-button label="Editar" icon="pi pi-pencil" styleClass="ui-button-warning" (onClick)="editarUsuario(usuario.id)"></p-button></td>
      <td><p-button label="Remover" icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteUsuario(usuario.id)"></p-button></td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog key="confirmDialogDeleteUsuario" #confirmDialogDeleteUsuario header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <p-button styleClass="ui-button-success" icon="pi pi-times" label="No" (onClick)="confirmDialogDeleteUsuario.reject()"></p-button>
    <p-button styleClass="ui-button-danger" icon="pi pi-check" label="Yes" (onClick)="confirmDialogDeleteUsuario.accept()"></p-button>
  </p-footer>
</p-confirmDialog>
