
<div class="p-grid p-dir-col p-align-center">
  <h1>Usuário</h1>
  <div class="p-grid p-dir-col p-align-left">
    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <p><label>Nome: </label><input type="text" [value]="usuario?.nome" formControlName="nome"/></p>
      <p><label>Username: </label><input type="text" [value]="usuario?.username" formControlName="username"/></p>
      <p><label>E-Mail: </label><input type="email" [value]="usuario?.email" formControlName="email"/></p>
      <p><label>Número de Telefone: </label><input type="text" [value]="usuario?.numeroDeTelefone" formControlName="numeroDeTelefone"/></p>
      <p><label>Password: </label><input [type]="visiblePassword" [value]="usuario?.password" formControlName="password"/><input type="checkbox" (click)="isVisiblePassword()" /></p>
      <p><button pButton icon="pi pi-save" type="submit" class="ui-button-success" label="Salvar"></button></p>
    </form>
    <div class="p-grid">
      <p-button icon="pi pi-arrow-left" label="Voltar" (onClick)="listUsuario()"></p-button>
      <p-button icon="pi pi-home" label="Pagina inicial" (onClick)="home()"></p-button>
    </div>
  </div>
</div>
